/* Css for whole html Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

/* Css for body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: none;
  background-size: cover;
  background-position: center;
  color: black;
}

.wrapper {
  width: 420px;
  /* background-color: transparent; */
  background-color: whitesmoke;
  /* border: 2px solid rgba(255,255,255, .2); */
  /* backdrop-filter: blur(20px); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  /* padding: 30px 40px; */
  background-image: url("assets/logo.png");
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper h1 {
  font-weight: 600;
  font-size: 38px;
  text-align: center;
  color: black;
}

.wrapper .input-box {
  width: 90%;
  height: 50px;
  margin: 30px 0;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-box input {
  width: 100%px;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(39, 38, 38, 0.2);
  border-radius: 10px;
  font-size: 16px;
  color: #000000;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: rgb(17, 17, 17);
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 50px;
  transform: translateY(-50%);
  font-size: 20px;
}
.wrapper .remember-forget {
    width: 90%;
  display: flex;
  gap: 10px;
  font-size: 14.5px;
  padding: 20px 10px;
  /* margin: -15px 0 15px; */
}
.remember-forget label input {
  color: #000000;

  margin: right 3px;
}

.remember-forget {
  color: #000;
  text-decoration: none;
}
.remember-forget a:hover {
  text-decoration: underline;
}
.wrapper .btn {
  width: 90%;
  height: 45px;
  background: #024699;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}

.wrapper .register-link {
  color: #000000;
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.register-link p a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
