* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", Arial, Helvetica, sans-serif;
  }
  .wrapper {
    width: 420px;
    /* background-color: transparent; */
    background-color: whitesmoke;
    /* border: 2px solid rgba(255,255,255, .2); */
    /* backdrop-filter: blur(20px); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    /* padding: 30px 40px; */
    background-image: url("assets/hero.png");
    padding: 20px;
  }