* {
  font-family: Montserrat, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.apply {
  color: white;
  background-color: red;
  padding: 4px;
  font-size: 0.5rem;
  border-radius: 0.3rem;
}

.apply:hover {
  padding: 4px;
  font-size: 0.6rem;
  border-radius: 0.4rem;
}
a:hover {
  text-decoration: none !important;
}

.logo-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #f7f7f7;
}

.logo a img {
  width: 200px;
  height: auto;
}

.contact_div {
  width: 100%;
}
.contacts {
  display: flex;
  justify-content: space-between;

  gap: 1rem;
}

.contacts > .input-box {
  margin-bottom: 0 !important;
}

/* .contacts ul {
  list-style: none;
  padding: 0;
  margin: 0;
} */

.contacts li {
  margin-bottom: 10px;
}

.contacts p {
  margin: 0;
  font-weight: bold;
  color: #333;
}

.contacts a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

.contacts a:hover {
  color: #0056b3;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px 40px;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  position: relative;
}

.navbar-links a {
  color: black;
  padding: 10px 40px;
  display: block;
  font-weight: 300;
  font-size: large;
}

.navbar-links li:hover {
  background-color: #128db8;
}

.navbar-links li a {
  margin: 0.6rem;
}
.navbar-links li a:hover {
  color: white;
}
.header-navbar ul li a {
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
}

.header-top {
  display: flex;
}

.header-top li {
  margin: 0rem 1rem;
  display: flex;
  align-items: center;
}

.text-color {
  color: #128db8;
  margin-right: 5px;
  border: 1px solid #128db8;
  padding: 6px;
  border-radius: 50%;
}
.header-top-text {
  line-height: 0.7rem;
}

.icon-margin {
  margin-right: 5px;
}

/* Implementing crousal */
/**Hero section**/
.hero-section {
  position: relative;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  background-color: #e2e7e6;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%;
}

.carousel-item {
  flex: 1 0 100%;
}

.carousel-item img {
  padding-left: 135px;
  padding-top: 5px;
  padding-bottom: 0;
  object-fit: cover;
}

table {
  background-color: #e2e7e6;
}

.table-content {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.table-title {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
  padding: 20px;
  background-color: #f4f4f4;
  width: 100%;
}

.table-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

/* CSS for testimonial */
.std-img img {
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.std-description {
  font-size: 1.1rem;
  line-height: 1.6;
}

.std-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2c3e50;
}

/**program Section**/
.program-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}

.box {
  height: 350px;
  width: 33%;
  padding: 20px 0px 15px;
  margin: 15px;
  background-color: white;
}

.box-img {
  height: 280px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.program-title p {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

/* css for TIE-UPS & MOUS */
.tie-up-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

.tie-up {
  height: 80px;
  width: 15%;
  margin-top: 15px;
  margin-left: 0px;
  background-color: white;
}

.tie-up-img {
  height: 70px;
  background-size: cover;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.tie-up-img:hover {
  transform: scale(1.07);
}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.tie-up-title p {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
  border-bottom: 5px solid blue;
}

/**footer**/
footer {
  margin-top: 15px;
}

.foot-panel1 {
  background-color: #333;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}

.foot-panel2 p {
  font-weight: 700;
}

ul {
  margin-top: 20px;
}

ul a {
  display: block;
  text-decoration: none;
  color: #dddddd;
  font-size: 0.85rem;
  margin-top: 10px;
}

.foot-panel2 {
  margin: auto;
  padding-top: 10px;
  background-color: black;
  color: white;
  font-size: 1rem;
  text-align: center;
  border-top: 0.5px solid white;
}
.copyright {
  padding-top: 5px;
  padding-bottom: 5px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

.social li {
  display: inline;
  margin-left: 15px;
}

/* vote box css */
.boxvote {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 335px; /* Ensure the box takes up full viewport height */
  width: 300px;
}

.box-contentvote {
  text-align: center;
  padding: 20px;
  background-color: #ffffff; /* White background for content */
  border: 1px solid #ddd; /* Light border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border-radius: 10px; /* Rounded corners */
}

.box-msg h2 {
  color: #333; /* Dark color for the heading */
  margin-bottom: 20px;
}

.box-msg button {
  background-color: #007bff; /* Blue background */
  color: #fff; /* White text */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for hover */
}

.box-msg button a {
  color: #fff; /* Ensure the link text is white */
  text-decoration: none;
}

.box-msg button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.box-msg button a:hover {
  color: #fff; /* Ensure the link text remains white on hover */
}

/* About tab */
.about {
  max-width: 62.5rem; /* Set a maximum width for the about section */
  margin: 50px auto; /* Center the section horizontally and add vertical spacing */
  padding: 20px; /* Add padding inside the section */
  background-color: #ffffff; /* White background */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 10px; /* Rounded corners */
  font-family: Arial, sans-serif; /* Font family */
}

.about-title {
  font-size: 32px; /* Larger font size for the title */
  font-weight: bold; /* Bold text */
  color: #333; /* Dark color */
  text-align: center; /* Center the title */
  margin-bottom: 20px; /* Space below the title */
  text-transform: uppercase; /* Uppercase text */
}

.about-msg {
  font-size: 18px; /* Slightly larger font size for readability */
  line-height: 1.6; /* Line height for better readability */
  color: #555; /* Medium dark color for the text */
  text-align: justify; /* Justify the text */
  margin-bottom: 20px; /* Space below the message */
}

.about-img {
  text-align: center; /* Center the image */
}

.about-img img {
  max-width: 100%; /* Make sure the image is responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Rounded corners for the image */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* contact map css */
.contacts-map {
  max-width: 800px; /* Set a maximum width for the about section */
  margin: 50px auto; /* Center the section horizontally and add vertical spacing */
  padding: 20px; /* Add padding inside the section */
  background-color: #ffffff; /* White background */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 10px; /* Rounded corners */
  text-align: center;
}

/* Css for register.php */
.register-body {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f0f0;
  color: black;
}

.register-body .wrapper {
  width: 660px;
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

.wrapper p {
  color: #000;
  text-align: left;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-box {
  margin-bottom: 20px;
}

.input-box label {
  display: block;
  color: #333;
  margin-bottom: 5px;
}

.input-box input,
.input-box select {
  /* width: 100%; */
  /* height: 40px; */
  border: 2px solid rgba(39, 38, 38, 0.2);
  border-radius: 10px;
  padding: 1rem 0.5rem;
  font-size: 16px;
  color: #000;
}

.input-box input::placeholder {
  color: rgb(17, 17, 17);
}
/* 
.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #024699;
  border: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 20px;
} */

.register-link {
  text-align: center;
  margin-top: 20px;
}

.register-link a {
  color: #024699;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.back-button {
  background-color: #333;
  height: 30px;
  width: 60px;
  font-size: larger;
  display: block;
  text-align: center;
  margin: 20px auto 0;
  border-radius: 5px;
}

.back-button a {
  color: white;
  text-decoration: none;
  line-height: 30px;
}

.back-button a:hover {
  text-decoration: underline;
}

/* Css for body Login.php*/
.body-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: none;
  background-size: cover;
  background-position: center;
  color: black;
}

.body-login .wrapper {
  width: 420px;
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper h1 {
  font-weight: 600;
  font-size: 38px;
  text-align: center;
  color: #3498db;
  padding-top: 1rem;
}

.wrapper .input-box {
  width: 100%;
  /* height: 50px;
  margin: 30px 0; */
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: white;
  outline: none;
  border: 2px solid rgba(39, 38, 38, 0.2);
  border-radius: 10px;
  font-size: 16px;
  color: #000000;
  padding: 1rem 0.5rem;
}

.input-box input::placeholder {
  color: rgb(17, 17, 17);
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50px;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember-forget {
  width: 90%;
  display: flex;
  gap: 10px;
  font-size: 14.5px;
  padding: 20px 10px;
}

.remember-forget label input {
  color: #000000;

  margin: right 3px;
}

.remember-forget {
  color: #000;
  text-decoration: none;
}

.remember-forget a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  /* height: 45px; */
  background: #024699;
  /* border: none; */
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  padding: 0.8rem 0rem;
  margin-top: 1.5rem;
  border: 1px solid #024699;
}

.wrapper .btn:hover {
  background-color: transparent;
  border: 1px solid #024699;
  color: #024699;
}

.wrapper .register-link {
  color: #000000;
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.register-link p a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/* Css for contact.php */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

.contact-map iframe {
  border: none;
  margin-bottom: 20px;
}

.table-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.table-title h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  border-bottom: 2px solid #e2e2e2;
  padding-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e2e2e2;
}

th {
  background-color: #f9f9f9;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header-navbar {
  background-color: #eeeeee;
  padding: 0;
}

/* Delete button */
.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.all_the_info {
  gap: 0.3em;
  display: flex;
  color: black;
}

